doctype html
  footer
    h3 Mais:
    ul.Lista-Redes-Sociais
      li.Item-Redes-Sociais
        a(href='') Contato
      li.Item-Redes-Sociais
        a(href='') FAQ
      li.Item-Redes-Sociais
        a(href='') Creditos