doctype html
head
  meta(charset='UTF-8')
  title QuimOrg
  link(rel='stylesheet' href='stylesheets/style.css')
.wrapper
  header
    .logo-container
      h1 QuimOrg
      nav
        ul
          li
            a(href='index.pug') Introdu&ccedil;&atilde;o
          li
            a(href='historico.pug') Historico
          li
            a(href='conceito.pug') Conceito
          li
            a(href='aplicacoes.pug') Aplica&ccedil;&otilde;es
          li
            a(href='login.pug') Login
  